@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#root {
  width: 100%;
  height: 100vh;
  background-image: url("C:\Users\Lingesh K\Downloads\App\client\public\peakpx.jpg");
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
  font-size: 20px;
}

.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
}

.navbar {
  max-width: 1225px;
  width: 100%;
  margin: 10px auto;
}

.navbar,
.nav-item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav-logo,
.nav-link {
  color: #fff;
}

.nav-logo {
  font-size: 30px;
}

.nav-item {
  column-gap: 25px;
}

.nav-link:hover {
  color: #d9d9d9;
}

.btn {
  padding: 6px 26px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  transition: 0.5s ease;
}

.btn:active {
  transform: scale(0.98);
}

.btn:hover {
  background-color: #fff;
  color: #000;
  font-weight: 500;
}

.transparent:hover {
  opacity: 0;
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 0;
  background-image: url("C:\Users\Lingesh K\Downloads\App\client\public\peakpx.jpg");
  background-size: cover;
  background-position: center;
}

.dark{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  bottom: 1px;
  pointer-events: none;
  transition: all 2s ease-in;
}

.form-container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 1;
  background-color: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.form-container.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.signup-form {
  display: block;
}

.login-form {
  display: block;
}

.form-close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 22px;
  opacity: 0.7;
  color: #0b0217;
}

.form-container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}

.input-box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}

.input-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  transition: all 0.2s ease;
  border-bottom: 1px solid #aaaaaa;
}

.input-box input:focus {
  border-color: #7d2ae8;
}

.input-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.input-box i.email,
.input-box i.password {
  left: 0;
  color: #aaaaaa;
}

.input-box input:focus ~ i.user,
.input-box input:focus ~ i.email,
.input-box input:focus ~ i.password {
  color: #7d2ae8;
}

.input-box i.user {
  left: 0;
  color: #aaaaaa;
  font-size: 20px;
}

.input-box i.pwd-hide {
  right: 0;
  font-size: 18px;
}

.option-field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-container a {
  color: #7d2ae8;
  font-size: 12px;
}

.form-container a:hover {
  text-decoration: underline;
}

.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}

.checkbox input {
  accent-color: #7d2ae8;
}

.checkbox label {
  font-size: 12px;
  user-select: none;
  cursor: pointer;
  color: #0b0217;
}

.form-container .btn {
  background-color: #7d2ae8;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}

.login-signup {
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
}

.title {
  text-align: center;
  color: #fff;
  position: relative;
  top: 150px;
  font-size: 72px;
  font-family: cursive;
  animation: updown 2s ease 0s 1 forwards;
}

@keyframes updown {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.para{
  color: #fff;
  width: 50%;
  text-align: center;
  position: relative;
  left: 400px;
  top: 200px;
  opacity: 0;
  font-size: 20px;
  font-weight: 600;
  animation: updown 2s ease 1s 1 forwards;
}